@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* shared style  */
body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*.btn-primary{ 
    color: white;
    background-color: rgb(231, 85, 32);
    border: 0;
    border-radius: 8px;
    font-weight: 500px;
    font-size: 20px;
    padding: 20px 25px;

}
/* headr style  */
header{
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 48px;
    font-weight: 700;
}
nav >ul{
    display: flex;

}
nav li {
    list-style: none;
    margin: 30px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
nav li a {
    text-decoration: none;
}
/* banner style  */
.banner-content {
    max-width: 800;
    text-align: center;
    margin: 0 Auto;
}
.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: black;
}
.banner img {
    height: 600px;
    width: 1200px;
    margin-top: 20px;
}
/* responsive with media quaery */
/* mobile divice */
@media only screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title{
        align-items: center;
        font-size: 30px;
        font-weight: 500;
    }
    nav li {
        font-weight: 400;
        font-size: 16px;
        margin: 10px;
    }
    .banner-title{
        font-weight: 500;
        font-size: 30px;
    }
    .banner img{
        width: 100%;
    }
}
/* tablet device */
@media only screen and (max-width :960px){
    header {
        padding: 30px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title{
        align-items: center;
        font-size: 40px;
        font-weight: 500;
    }
    nav li {
        font-weight: 400;
        font-size: 18px;
        margin: 15px;
    }
    .banner-title{
        font-weight: 500;
        font-size: 40px;
    }
    .banner img{
        width: 100%;
    }
}
